<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.updater.ota"
    android:versionCode="1"
    android:versionName="Alpha 1">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    
    <permission android:name="com.updater.ota.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.updater.ota.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true">
        
        <activity
            android:name=".VillainUpdater"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
		    <intent-filter>
			    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
			    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
			    <category android:name="com.updater.ota" />
		    </intent-filter>
		</receiver>
		
        <service android:name=".GCMIntentService" />
        
		<receiver android:name=".UpdateCheckReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>
		</receiver>
        
        <activity
            android:name=".ListFilesActivity"
            android:label="@string/app_name">
        </activity>
        
        <activity
            android:name=".UpdaterSettings"
            android:label="@string/app_name">
        </activity>
        
    </application>
</manifest>